.card-main{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;
gap: 8px;

width: 282px;
height: 110px;

background: #FFFFFF;
/* Medium Shadow */

box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0
}
.card-selected{
    background-color: #A259FF !important;
    color: white !important
}
.selected{
    color : white !important
}
.card-inside{
    margin-left: 12px;
}
.card-gender{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */


color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.card-name{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 135%;
/* identical to box height, or 30px */
margin-top: 4px;
text-align: left;
color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.card-email{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */
    margin-top: 8px;
    
    color: #E16259;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;}
    .handlecards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 24px;
        row-gap: 24px;
        width: 1350px;
        margin: 0 auto;
    }